# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env
.venv/

# Streamlit logs/config
.streamlit/config.toml
.streamlit/secrets.toml

# Operating System files
.DS_Store
Thumbs.db